{% extends 'base.html' %}
{% load static %}

{% block header_img %}
    {% static 'img/about.jpeg' %}
{% endblock header_img %}

{% block content %}
    <div class="container shadow-sm p-5">
    <h1 class="h2 text-center">Kali Association of Scientist</h1>
        <p>
            We are a group of scientists who are so passionate about science and technology.
            We write at least every week on the various fields of science and technology. There are varieties of skilled
            personnel in the different fields of study in science available in our team who write about facts in science
            and technology.
        </p>

        <p>
            We are completely on voluntary work. This blog was created with no intention of gaining profit.
            Offering help to people interested to study science and technology is
            our greatest pleasure. We purposely set up this blog for young students and individuals willing to become
            scientist or pursuing a course or career in any field of science.
        </p>

        <p class="mb-5">
            Aside our team, we are ever ready to accept scientist and professors from different fields to join our team
            in order to make learning science and technology very convenient for people. We take in graduates as well as
            undergraduates. We believe sharing knowledge is the best way to gain knowledge and that helps make the world
            a better place to live.
        </p>
    </div>
{% endblock content %}