{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Kali Blog</title>

  <!-- Bootstrap core CSS -->
  <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

  <!-- Custom fonts for this template -->
  <link href="{% static 'vendor/fontawesome-free/css/all.min.css' %}" rel="stylesheet" type="text/css">
  <link href='https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>

  <!-- Custom styles for this template -->
  <link href="{% static 'css/clean-blog.min.css' %}" rel="stylesheet">
  <link href="{% static 'css/quill.snow.css' %}" rel="stylesheet">

  {% block custom_style %}
  {% endblock custom_style %}

    <style>
        body{
            margin: 0!important;
        }
    </style>

</head>

<body>

    {% block navbar %}
  <!-- Navigation -->
        <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
    <div class="container">
      <a class="navbar-brand" href="/">Kali Thinkers</a>
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        Menu
        <i class="fas fa-bars"></i>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link" href="{% url 'home' %}">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'about' %}">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'sample_posts' %}">Sample Post</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'contact' %}">Contact</a>
          </li>
          {% if not user.is_authenticated %}
            <li class="nav-item">
              <a class="nav-link btn btn-outline-{% block login_color %}{% endblock login_color %}" href="{% url 'login' %}">Login</a>
            </li>
          {% endif %}
          {% if user.is_authenticated %}
            <!-- Nav Item - User Information -->
            <li class="nav-item dropdown no-arrow float-right">
              <a style="text-transform:capitalize" class="nav-link dropdown-toggle text-light btn btn-primary" href="#" id="userDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <span> <b> {{ user.first_name | capfirst }}</b></span>
              </a>
              <!-- Dropdown - User Information -->
              <div class="dropdown-menu shadow animated--grow-in" aria-labelledby="userDropdown">
                <a class="dropdown-item disable" href="#">
                  <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
                  Profile
                </a>
                <a class="dropdown-item disable" href="#">
                  <i class="fas fa-cogs fa-sm fa-fw mr-2 text-gray-400"></i>
                  Settings
                </a>
                <a class="dropdown-item disable" href="#">
                  <i class="fas fa-list fa-sm fa-fw mr-2 text-gray-400"></i>
                  Activity Log
                </a>
                <div class="dropdown-divider"></div>
                  <a class="dropdown-item" href="{% url 'logout' %}" >
                      <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                      Logout
                  </a>
              </div>
            </li>
              {% endif %}
        </ul>
      </div>
    </div>
  </nav>
    {% endblock navbar %}

  
  <!-- Page Header -->
  {% block header %}
    <header class="masthead" style="background-image: url({% block header_img %}{% endblock header_img %})">
      <div class="overlay"></div>
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-md-10 mx-auto">
            <div class="site-heading">
              <h1>Kali Scientist's Blog</h1>
              <span class="subheading">A Blog For Scientist and Technologists</span>
            </div>
          </div>
        </div>
      </div>
    </header>

  {% endblock header %}
  <!-- Main Content -->
{% block content %}{% endblock content %}

  <hr>

  <!-- Footer -->
  <footer>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <ul class="list-inline text-center">
            <li class="list-inline-item">
              <a href="#">
                <span class="fa-stack fa-lg">
                  <i class="fas fa-circle fa-stack-2x"></i>
                  <i class="fab fa-twitter fa-stack-1x fa-inverse"></i>
                </span>
              </a>
            </li>
            <li class="list-inline-item">
              <a href="#">
                <span class="fa-stack fa-lg">
                  <i class="fas fa-circle fa-stack-2x"></i>
                  <i class="fab fa-facebook-f fa-stack-1x fa-inverse"></i>
                </span>
              </a>
            </li>
            <li class="list-inline-item">
              <a href="#">
                <span class="fa-stack fa-lg">
                  <i class="fas fa-circle fa-stack-2x"></i>
                  <i class="fab fa-github fa-stack-1x fa-inverse"></i>
                </span>
              </a>
            </li>
          </ul>
          <p class="copyright text-muted">Copyright &copy; Kali Association of Scientists</p>
          <h4>The Quietor you become, The more you are able to hear</h4>
        </div>
      </div>
    </div>
  </footer>
  <!--Modal: Login / Register Form-->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="Labeled Modal" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                  <div class="modal-header">
                    <div class="mx-auto">
                        <ul class="nav nav-tabs" role="tablist">
                            <li class="nav-item mr-5"><a href="#login" role="tab" data-toggle="tab" class="nav-link active">
                                Login <i class="fa fa-user"></i>
                            </a></li>
                            <li class="nav-item">
                                <a href="#signup" role="tab" data-toggle="tab" class="nav-link">
                                    Don't Have An Account <i class="fa fa-user-plus ml-3"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="modal-body">
                    <div class="tab-content p-4">
                        <div class="tab-pane active" id="login">
                            <form action="{% url 'login_user'%}" method="POST">
                              {% csrf_token %}
                                <div class="form-group">
                                    <label for="uname">Username</label>
                                    <i class="fa fa-envelope"></i>
                                    <input type="email" class="form-control" id="id_email" name="email" autofocus />
                                </div>
                                <div class="form-group">
                                    <label for="pword">Password</label>
                                    <i class="fa fa-key"></i>
                                    <input type="password" class="form-control" id="id_password" name="password" />
                                </div>
                                <div class="clearfix mb-3 mt-3">
                                    <button type="submit" class="btn btn-md btn-primary mx-auto rounded">Login</button>
                                </div>
                                <input type="hidden" name="next" id="next" value="{% block next_url %}{% endblock next_url %}">
                            </form>
                        </div>
                        
                        <div class="tab-pane fade in" id="signup">
                            <form method="POST" action="{% url 'signup_user' %}">
                                <div class="form-group">
                                    <label for="id_username">Username</label>
                                    <i class="fa fa-user"></i>
                                    <input type="text" class="form-control" id="id_username" name="username" autofocus required />
                                </div>
                                <div class="form-group">
                                    <label for="email">Email</label>
                                    <i class="fas fa-envelope"></i>
                                    <input type="email" class="form-control" id="id_email" name="email" />
                                </div>
                                <div class="form-group">
                                    <label for="id_password1">Password</label>
                                    <i class="fa fa-key"></i>
                                    <input type="password" class="form-control" id="id_password1" name="password1" />
                                </div>
                                <div class="form-group">
                                    <label for="id_password2">Confirm Password</label>
                                    <i class="fa fa-key"></i>
                                    <input type="password" class="form-control" id="id_password2" name="password2" />
                                </div>
                                <div class="clearfix">
                                  <button type="submit" class="btn btn-md btn-primary rounded float-right">Create Account</button>
                                </div>
                                <input type="hidden" name="next" id="next" value="{% block next_url2 %}{% endblock next_url2 %}">
                            </form>
                        </div>
                    </div>
                </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary mr-auto" data-dismiss="modal">Close</button>
                    </div>
            </div>
        </div>
    </div>

  <!-- Bootstrap core JavaScript -->
  <script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
  <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

  <!-- Custom scripts for this template -->
  <script src="{% static 'js/clean-blog.min.js' %}"></script>
  {% block scriptC %}
  {% endblock scriptC %}

</body>

</html>